/* Reset do CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://wallpaperaccess.com/full/1092854.jpg');
    background-size: auto 100vh 100vw;
    font-family: 'Baloo Chettan 2', cursive;
    height: 100vh;
    /* backdrop-filter: blur(5px); */
}

/* Se a tela tiver pelo menos 400px ela carregará esses estilos */

@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

/* Se a tela tiver pelo menos 600px ela carregará esses estilos */
@media (min-width: 600px) {
    body {
        background-attachment: fixed;
        background-size: cover;
        font-size: 18px;
    }
  }

header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-family: 'Sacramento', cursive;
}

.menu {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

a {
    color: cornflowerblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
    text-align: center;
}

.menu a {
    display: block;
    padding: 10px 20px;
    transition: background-color 0.5s, color 0.5s;
}

.menu a:active,
.menu a:hover {
    background-color: cornflowerblue;
    color: white;
}

.intro {
    transform: scale(0);
    filter: blur(5px);
    animation: 3s linear 1s animarIntro forwards,
    500ms linear 3s animarIntro2 forwards;
}

@keyframes animarIntro {
    0% {
        transform: scale(0) translateY(-100vh);
    }

    100% {
        transform: scale(1) translateY(0vh);
    }
}

@keyframes animarIntro2 {
    from {
        filter: blur(5px);
    }
    
    to {
        filter: blur(0px);
    }
}


.site-title, .site-subtitle {
    color: #993099;
    text-align: center;
}

.site-title {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
}

.site-subtitle {
    font-style: italic;
}

.img_trabalhos {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.sobre,
.contato,
.projetos {
    display: flex;
    flex-direction: column;
    padding: 3em;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1200px) {
    .sobre,
    .contato,
    .projetos {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* .projetos * {
    display: flex;
} */

.sobre h2,
.contato h2,
.projetos h2 {
    align-self: center;
    font-size: 2em;
    margin-bottom: 1.5em;
    color: #993099;
}

.sobre p {
    color: #993099;
    margin-bottom: 1em;
    text-indent: 1.5em;
    text-align: justify;
}

.sobre .profile img {
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

@media (min-width: 600px) {
    .sobre .profile img {
        margin-right: 2em;
    }
    
    .sobre .profile {
        float: left;
    }
}

.sobre .texto {
    display: block;
}

.projetos .grid {
    display: grid;
    gap: 1em;
    justify-content: center;
}

.projetos figure {
    color: #993099;
    text-align: center;
}

.flip-card {
    height: 180px;
    perspective: 700px;
}

.card {
    display: flex;
    justify-content: center;
    height: 180px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.flip-card:hover .card {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    height: 180px;
    backface-visibility: hidden;
    left: 0;
    position: absolute;
    top: 0;
}

.card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 100%;
    background-color: antiquewhite;
    transform: rotateY(180deg);
    text-align: center;
}

.contato a {
    color: blueviolet;
    font-size: 5em;
    text-align: center;
    text-decoration: none;
    transition: text-shadow 0.5s;
}

.contato a:active,
.contato a:hover {
    text-shadow: 0px 0px 10px rgba(255, 235, 205, 1);
}
/* rgba(255, 235, 205) */
.contato .icons {
    display: grid;
    align-self: center;
    gap: 1em;
    grid-template-columns: 5em 5em 5em 5em;
}

@media (min-width: 800px) {
    .projetos .grid {
        display: grid;
        gap: 1em;
        grid-template-columns: 380px 380px;
        justify-content: center;
    }
}

@media (min-width: 950px) {
    .projetos .grid {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(3, 270px);
        justify-content: center;
    }
}

/* #projetos,
#contato {
    padding-top: 0px;
} */

/*
.projetos figure {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

figcaption {
    text-align: center;
} */